flask
flask-sqlalchemy
flask-login
flask-socketio
python-socketio
eventlet

selenium
webdriver-manager
requests
beautifulsoup4
lxml

PyPDF2
pypdf
PyMuPDF
pdfkit
pdfplumber
python-docx
reportlab

psycopg2-binary
gunicorn
fpdf2
pytesseract
Pillow
watchdog